## ðŸ§  1. What is a Variable? - 
- A variable is like a container for storing data.
- You can assign any value to a variable using the = operator.

#### âœ… Syntax:

In [3]:
name = "Raju"
age = 25
height = 5.9
print(name)
print(age)
print(height)

Raju
25
5.9

In [15]:
type(name) # type of the variable name is String

str

In [16]:
type(age) # type of the variable name is Integer

int

In [17]:
type(height) # type of the variable name is Float

float

##### Details of the variable used above
- name is a variable that stores a string.
- age is a variable that stores an integer.
- height is a veriable that stores a float (decimal number).

In [18]:
pizza = 100
samosa = 20.5
ice_cream = 100
total = pizza+samosa+ice_cream
total

220.5

In [19]:
type(total)

float

### A. Boolean Values in Python

##### Boolean represents one of two values:
- True
- False
- These are used for decision-making (like conditions, logic, etc.)

In [20]:
is_logged_in = True
has_access = False
# Notice that True and False both start with a capital letter â€” itâ€™s important!

In [21]:
age = 20
is_adult = age >= 18   # True
print(is_adult)        # Output: True

True

In [22]:
print(type(is_adult))  # <class 'bool'>

<class 'bool'>

##### Boolean Operators:
| Operator | Meaning      | Example          | Result  |
| -------- | ------------ | ---------------- | ------- |
| `==`     | Equal to     | `5 == 5`         | `True`  |
| `!=`     | Not equal to | `5 != 3`         | `True`  |
| `>`      | Greater than | `10 > 3`         | `True`  |
| `<`      | Less than    | `2 < 4`          | `True`  |
| `and`    | Logical AND  | `True and False` | `False` |
| `or`     | Logical OR   | `True or False`  | `True`  |
| `not`    | Logical NOT  | `not True`       | `False` |

### B. ID of a Variable in Python

##### What is id()?
- Every object in Python has a unique ID â€” itâ€™s like a memory address.
- You can view it using the built-in id() function.

In [23]:
x = 10
print(id(x))  # prints the memory ID of variable x

2314600382992

##### Why is this useful?
- To check whether two variables point to the same object in memory.

In [26]:
a = 5
b = 5
print(id(a))       # e.g., 140732946552784
print(id(b))       # same as id(a) â€” small integers are reused

c = [1, 2, 3]
d = [1, 2, 3]
print(id(c))       # Different ID than d
print(id(d))

#Even though c and d have the same values, they are stored in different locations (because theyâ€™re separate lists).

2314600382832
2314600382832
2314677338240
2314677616832

In [1]:
# Boolean example
age = 20
is_adult = age >= 18
print("Is adult?", is_adult)
print(type(is_adult))

Is adult? True
<class 'bool'>

In [2]:
# id() example
x = 100
y = 100
print("ID of x:", id(x))
print("ID of y:", id(y))

list1 = [1, 2]
list2 = [1, 2]
print("ID of list1:", id(list1))
print("ID of list2:", id(list2))

ID of x: 1952133614928
ID of y: 1952133614928
ID of list1: 1952210921984
ID of list2: 1952210920768

##### Boolean Values
- Used to represent True/False.
- Examples: True, False
- Often used in logic/conditions.
- Boolean expressions use: ==, !=, >, <, and, or, not

##### id() Function
- Shows the unique identity of an object.
- Syntax: id(variable)
- Useful for checking if two variables refer to the same memory object.

### C. What is a Naming Convention?
- A naming convention is a set of rules or guidelines for how you name variables, functions, classes, etc.
- Python follows PEP 8 â€” the official style guide for Python code.

#### âœ… Python Variable Naming Rules (Must Follow)

##### 1. âœ… Variable names can contain:
- Letters (a-z, A-Z)
- Digits (0-9)
- Underscore (_)

##### 2. âŒ Variable names cannot start with a digit
- 1name = "Raju"    # âŒ Invalid
- name1 = "Raju"    # âœ… Valid

##### 3. âŒ No spaces allowed
- Use underscore _ instead.
- user name = "Raju"    # âŒ Invalid
- user_name = "Raju"    # âœ… Valid

##### 4. âŒ Don't use Python keywords as variable names
- def = 5        # âŒ Invalid, "def" is a reserved keyword
- True = 100     # âŒ Invalid, "def" is a reserved keyword

##### 5. âœ… Use this to check all Python keywords:

In [4]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

#### âœ… Best Practices (Recommended)

##### 1. ðŸ”¤ Use lowercase letters with underscores (snake_case)
- first_name = "Raju"
- total_price = 199.99

##### 2. ðŸŽ¯ Make names meaningful & descriptive

In [7]:
# Bad:
x = 5
# Good:
number_of_students = 5

##### 3. ðŸš« Donâ€™t use single-letter variable names (unless in loops)

In [6]:
for i in range(5):   # âœ… i is fine here
    print(i)

0
1
2
3
4

##### 4. ðŸ”’ Use underscore _ before a variable name to indicate â€œprivateâ€ (common in classes)

In [8]:
_private_value = 10

#### ðŸ” Special Cases

| Naming Style                     | Used For                        | Example              |
| -------------------------------- | ------------------------------- | -------------------- |
| `snake_case`                     | âœ… Variables, functions          | `total_count = 10`   |
| `UPPER_CASE`                     | âœ… Constants                     | `PI = 3.14`          |
| `CamelCase`                      | âœ… Class names                   | `class StudentInfo:` |
| `_single_leading_underscore`     | ðŸ”’ Internal use (non-public)    | `_temp = 5`          |
| `__double_leading__underscore__` | ðŸ”§ System-defined/magic methods | `__init__()`         |

#### ðŸš« Common Mistakes
- total 1 = 10        # âŒ No space or starting number
- my-variable = 3     # âŒ Hyphens not allowed
- def = 4             # âŒ 'def' is a Python keyword

#### Python Variable Naming Convention:

âœ… Valid:
- Use lowercase and underscores (snake_case)
- Start with a letter or underscore
- Be descriptive

âŒ Invalid:
- Donâ€™t start with a digit
- No special characters (except _)
- Donâ€™t use spaces
- Donâ€™t use Python keywords

Examples:
- first_name = "Raju"
- total_amount = 100.50
- MAX_USERS = 50         (constant)
- class StudentDetails:  (class name in CamelCase)

### Final Note:
- Variables are containers that store data in a Python program
- Variables can store different types of data types such as string, integer, float, Boolean
- Rules of naming variables correctly:
- -	You can not use reserve words as variable names (e.g. def, True, etec.)
- - Variable names must start with a letter or an underscore _
- -	It can not contain spaces or special characters (@, #, $, %, etc.)
- -	Underscore _ is an valid character and can be present at any place in a variable name

### ðŸ§® 2. Numbers in Python
- Python supports several types of numbers:

| Type    | Example  |
| ------- | -------- |
| Integer | `10`     |
| Float   | `3.14`   |
| Complex | `3 + 5j` |

#### ðŸ“Œ Example:

In [10]:
a = 10        # Integer
b = 3.14      # Float
c = 2 + 3j    # Complex

In [16]:
# You can perform arithmetic operations:
x = 5
y = 2
print("Addition:", x + y)  # 7
print("Substraction:", x - y)  # 3
print("Multiplication:", x * y)  # 10
print("Division:", x / y)  # 2.5
print("Floor Division:", x // y) # 2 (floor division)
print("Modulus- Reminder:", x % y)  # 1 (modulus)
print("Power", x ** y) # 25 (power)

Addition: 7
Substraction: 3
Multiplication: 10
Division: 2.5
Floor Division: 2
Modulus- Reminder: 1
Power 25

#### Area of a Triangle

In [1]:
base = 10
height = 7

area = (base*height)/2
area

35.0

In [2]:
type(area)

float

In [3]:
round(2.3)

2

In [5]:
round(2.3698,2)

2.37

In [6]:
round(2.3698,1)

2.4

#### Math functions

In [7]:
import math

x=16
math.sqrt(x)

4.0

In [8]:
math.floor(3.7)

3

In [9]:
math.ceil(3.7)

4

In [10]:
math.pi

3.141592653589793

In [11]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

#### Print the binary of a integer number

In [13]:
format(11, 'b')

'1011'

### 3. Strings in Python

#### A string is a sequence of characters inside quotes.

In [1]:
name = "Raju"
greeting = 'Hello'

#### Common string operations:

In [2]:
# Concatenation
full_name = "Raju" + " " + "Das"
print(full_name)

# Length
print(len(name))  # 4

# Indexing
print(name[0])  # R
print(name[-1]) # u

# Slicing
print(name[1:3])  # aj

# String Methods
print(name.upper())     # RAJU
print(name.lower())     # raju
print(name.startswith("Ra"))  # True
print(name.endswith("u"))     # True

Raju Das
4
R
u
aj
RAJU
raju
True
True

In [3]:
# Variables
name = "Raju"
age = 25

# Numbers
height = 5.9
print(age + 5)

# Strings
message = "Welcome to Python"
print(message.upper())

30
WELCOME TO PYTHON

In [3]:
first = 'Raju'
last = 'Das'

In [5]:
type(first)

str

In [4]:
name = first + " " + last
name

'Raju Das'

In [5]:
name = f"{first} {last}"
name

'Raju Das'

In [6]:
age = 35

In [7]:
info = f"{first} {last} is {age} years old"
info

'Raju Das is 35 years old'

In [8]:
len(name)

8

In [11]:
name[0]

'R'

In [12]:
name[1]

'a'

In [13]:
name[0:5] #Slice Operator

'Raju '

In [15]:
name[5:]

'Das'

In [16]:
name[-1]

's'

In [17]:
#double cote and single cote

food_story="Raju's favourite food is banana"
s = 'he said "opps"'

In [18]:
#long string handeling - new line
recipe = "Veg biriyani with saffron, cardmom, and cloves, garnished with fried onions and cilantro."
recipe

'Veg biriyani with saffron, cardmom, and cloves, garnished with fried onions and cilantro.'

In [19]:
recipe = '''Veg biriyani with saffron, 
cardmom, and cloves, garnished with 
fried onions and cilantro.'''
recipe

'Veg biriyani with saffron, \ncardmom, and cloves, garnished with \nfried onions and cilantro.'

In [20]:
print(recipe)

Veg biriyani with saffron,
cardmom, and cloves, garnished with
fried onions and cilantro.

In [21]:
#checking a string present or not in a paragraph
spice="cardmom"
spice in recipe

True

In [23]:
"milk" in recipe

False

In [24]:
# want to know the index where the index is present 
recipe.find(spice)

28

In [25]:
# some usefull functions in strings
s = "patient was charged 100$ for lab test"
s

'patient was charged 100$ for lab test'

In [26]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [28]:
# want to replace 100$ with 200$
s.replace("100$", "200$")

'patient was charged 200$ for lab test'

In [30]:
# but the data is not changed in the variable s
s

'patient was charged 100$ for lab test'

In [32]:
# to do changes remin in the same string

s = s.replace("100$", "200$")
s

'patient was charged 200$ for lab test'

In [33]:
s.upper()

'PATIENT WAS CHARGED 200$ FOR LAB TEST'

In [35]:
a = "ABC"
a.lower()

'abc'

In [37]:
'410'.isdigit()

True

In [38]:
'41a0'.isdigit()

False

In [39]:
s.index("200$")

20

In [41]:
# join one strings with int
text = "my age is:"
age = 38

text + age

TypeError: can only concatenate str (not "int") to str

In [42]:
# to do that need to change age to string

text + str(age)

'my age is:38'

In [43]:
s = "hey\tbro"
print(s)

hey	bro

In [44]:
# split 
tickers = "AAPL|NVDA|RIL|GOGL"
tickers.split("|")

['AAPL', 'NVDA', 'RIL', 'GOGL']

In [46]:
# split with maxsplit
tickers = "AAPL|NVDA|RIL|GOGL"
tickers.split("|",maxsplit=2)

['AAPL', 'NVDA', 'RIL|GOGL']

In [48]:
# usefull to cleaning data with extra space

data = "  hey, we have to go there, you coming der  ? "
data

'  hey, we have to go there, you coming der  ? '

In [49]:
# wide spaces remove
data.strip()

'hey, we have to go there, you coming der  ?'

### Note
- In Python, strings are immutable, meaning they cannot be changed once created.
- Access specific characters or substrings in Python using indexing (e.g., name[0]) and slice (e.g., name[1:5])
- Use string formating techniques like f-strings (e.g., f'{variable}') for easier and more readable string composition in Python.
- Python provides built-in meathods for strings, such as .upper(), .lower(), .split(), and .strip()

#### Strings - Exercise

### 1 â€” Quick exploration

In [54]:
# Explore what Python offers for strings
print(type("hello"))         # <class 'str'>
print(dir(str)[:20])        # first 20 attributes/methods
help(str.upper)             # show docs for a single method (like you did with help(str))

<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__']
Help on method_descriptor:

upper(self, /)
    Return a copy of the string converted to uppercase.

### 2 â€” Creation, concatenation, repetition, immutability

In [56]:
a = "Hello"
b = "World"
print(a + " " + b)     # concatenation -> Hello World
print("ha" * 3)        # repetition -> hahaha

# immutability demo
s = "hello"
print(s, id(s))
s2 = s.upper()
print(s2, id(s2))
# original s unchanged, id changed because strings are immutable

Hello World
hahaha
hello 2629848890608
HELLO 2629874672432

In [58]:
# Practice: make a greeting "Hello, Raju!" using name = "Raju" and an f-string:
name = "Raju"
greeting = f"Hello, {name}!"
print(greeting)

Hello, Raju!

### 3 â€” Indexing & slicing

In [59]:
s = "Python"
print(s[0], s[-1])    # P n
print(s[1:4])         # yth
print(s[:3], s[3:])   # Pyt, hon
print(s[::2])         # Pto (step slicing)

P n
yth
Pyt hon
Pto

In [71]:
# Practice: from "DataScience" print "Science" and "Daaic" (2-step slice).
word = "DataScience"
print(word[4:])
print(word[0:10:2])

Science
DtSin

### 4 â€” Searching, counting, and finding positions

In [72]:
txt = "abracadabra"
print(txt.count("a"))         # occurrences -> 5
print(txt.find("cad"))        # index of first occurrence -> 4
print(txt.find("z"))          # -1 means not found
# .index behaves like find but raises ValueError if not found
# rfind / rindex find from the right

5
4
-1

In [78]:
# Practice: find the last index of "a" using .rfind().
txt.rfind("a")

10

### 6 â€” Case & normalization

In [79]:
s = "hÃ©LLo ÃŸ"
print(s.lower())        # hÃ©llo ÃŸ
print(s.upper())        # HÃ‰LLO SS? (sharp s handled differently by casefold)
print(s.casefold())     # best for caseless comparison
print("hello world".title())   # Hello World
print("hEllO".swapcase())      # HeLLo

hÃ©llo ÃŸ
HÃ‰LLO SS
hÃ©llo ss
Hello World
HeLLo

In [80]:
# Practice: compare "straÃŸe" and "STRASSE" in a case-insensitive way (use .casefold()).
a1 = "straÃŸe"
a2 = "STRASSE"
print(a1.casefold())
print(a2.casefold())

strasse
strasse

### 7 â€” Stripping, padding, filling

In [81]:
s = "   hello   "
print(s.strip())         # "hello"
print("xxhelloxx".strip("x"))  # "hello"

print("hi".center(8, "-"))  # --hi----
print("42".zfill(5))        # 00042
print("hi".ljust(6, "."))   # hi....

hello
hello
---hi---
00042
hi....

In [82]:
# Practice: left-pad "7" to width 3 with zeros (use zfill).
print("7".zfill(3))

007

### 8 â€” Split, rsplit, splitlines, join, partition

In [84]:
line = "one,two,three"
parts = line.split(",")
print(parts)              # ['one','two','three']

s = "a b  c\nline2"
print(s.split())          # split on whitespace (collapses multiple spaces)
print(s.splitlines())     # splitlines on newlines
print(",".join(parts))    # "one,two,three"

print("a-b-c".partition("-"))   # ('a','-','b-c')
print("a-b-c".rpartition("-"))  # ('a-b','-','c')

['one', 'two', 'three']
['a', 'b', 'c', 'line2']
['a b  c', 'line2']
one,two,three
('a', '-', 'b-c')
('a-b', '-', 'c')

In [87]:
# Practice: split "a,b,c,d" into ['a','b','c,d'] (use maxsplit=2).

line = "a,b,c,d"
print(line.split(",",maxsplit=2))

['a', 'b', 'c,d']

### 9 â€” Replace, removeprefix, removesuffix, translate/maketrans

In [88]:
s = "abracadabra"
print(s.replace("a", "x", 2))  # replace first 2 -> xbrxcadabra

print("unittest".removeprefix("unit"))   # "test"
print("file.txt".removesuffix(".txt"))   # "file"

table = str.maketrans("ab", "12")
print("aba".translate(table))  # "121"

xbrxcadabra
test
file
121

In [90]:
# Practice: remove prefix "ID-" from "ID-2025-001" using .removeprefix().

print("ID-2025-001".removeprefix("ID-"))

2025-001

### 10 â€” Character tests (isalpha, isdigit, isidentifier, etc.)

In [92]:
print("abc".isalpha())     # True
print("123".isdigit())     # True
print("Â½".isnumeric())     # maybe True (different categories)
print("   ".isspace())     # True
print("my_var".isidentifier())  # True

True
True
True
True
True

### 11 â€” Formatting: format, format_map, f-strings

In [93]:
name, age = "Raju", 25
print("Hello {}, age {}".format(name, age))
print("Hello {n}, age {a}".format(n=name, a=age))
print(f"Hello {name}, age {age}")          # f-string (recommended)
print("{:0>5}".format(42))                 # pad left with zeros -> 00042

Hello Raju, age 25
Hello Raju, age 25
Hello Raju, age 25
00042

In [94]:
# Practice: format 3.14159 to show only 2 decimal places.
pi = 3.14159
print(f"{pi:.2f}")

3.14

### 12 â€” Encoding, size, and bytes

In [95]:
s = "cafÃ©"
b = s.encode("utf-8")
print(b)                 # b'caf\xc3\xa9'
print(len(s), len(b))    # characters vs bytes
# encode errors example:
print("Ã©".encode("ascii", errors="replace"))

b'caf\xc3\xa9'
4 5
b'?'

In [96]:
# Practice: encode "hello" to UTF-8 and back to string using .decode() on the bytes.
text = "hello"
encoded_text = text.encode("utf-8")
print(encoded_text)

b'hello'

In [97]:
decoded_text = encoded_text.decode("utf-8")
print(decoded_text)

hello

In [98]:
text = "hello"

# Encode to bytes
encoded_text = text.encode("utf-8")
print(f"Encoded: {encoded_text} (type: {type(encoded_text)})")

# Decode back to string
decoded_text = encoded_text.decode("utf-8")
print(f"Decoded: {decoded_text} (type: {type(decoded_text)})")

Encoded: b'hello' (type: <class 'bytes'>)
Decoded: hello (type: <class 'str'>)

### Quiz: Variables, Numbers and Strings

In [2]:
#Q1. What will be the output of the following code?

word = "Python"
print("PyT" in word)

False

In [6]:
#Q2. What will be the output of the following operation: 
5 + 4 * 3

17

In [7]:
#Q3. What will the following code return?

empty_string = "AI Engineer"
print(len(empty_string))

11

In [8]:
#Q4. What is the output in Python
-9 % 2

1

In [9]:
#Q5. Which of the following is the correct way to declare a variable in Python?
x = 10

In [10]:
#Q6. What will the following code return?

s = "12345a"
print(s.isdigit())

False

In [11]:
# What will the following slice operation return?

s = "DataScience"
print(s[1:5])

ataS

<h2 align="center" style="color:blue"> Python Course: Exercise - Variables, Numbers, Strings</h2>

### Task 1

Create a variable named pi and store the value 22/7 in it. Now check the data type of this variable.

In [13]:
# creating variable named pi
pi = 22/7

In [14]:
print(pi)

3.142857142857143

In [15]:
# checking the datatype
type(pi)

float

### Task 2

Create a variable called ```for``` and assign it a value 4. See what happens and find out the reason behind the behavior that you see.

In [16]:
# 2. creating for variable
for = 4

SyntaxError: invalid syntax (3292397425.py, line 2)

SyntaxError occured becuase for is a reserved keyword in python. We cannot use reserved keywords for making variable names.

### Task 3

Below we have defined the variables for storing the principal amount, rate of interest and time. You need to calculate the simple interest for 3 years. Once simple interest is calculated, calculate the total amount you will have at the end of the tenure

Tip ðŸ’¡: Feel free to take help of ChatGPT or Google in the case you do not know the formula for simple interest.

In [19]:
principle_amount = 567.00
rate_of_interest = 5.6
time = 3

Now let's calculate the simple intrest using simple math formula:

`simple interest  = P x R x T / 100`

where: 
 
    P = principle amount
    R = rate of interest
    T = time

In [21]:
simple_interest = principle_amount * rate_of_interest * time / 100
simple_interest

95.25599999999999

In [22]:
# total amount after including interest
total_amount = principle_amount + simple_interest
print(total_amount)

662.256

### Task 4

There is a circular pond in a village. This pond has a radius of 84 meter. Can you find the area of the pond?

**Note:** For simplicity, use the value of pi as 3.14.

In [23]:
radius = 84

pond_area = 3.14 * radius ** 2 # circle area = pi*r^2
pond_area

22155.84

### Task 5

If there is a 2000 liter water in a square meter, what is the total amount of water in this pond?

In [24]:
per_sqt_meter_water = 2000
total_water = pond_area*per_sqt_meter_water
total_water

44311680.0

### Task 6

If you cross a 490-meter-long street in 7 minutes, then what is your speed in meter per seconds. Print your answer with only two decimal points

Hint:
        Speed = Distance / Time

In [25]:
distance = 490
time_in_seconds = 7 * 60 # 7 minutes is 7*60 seconds

speed = distance / time_in_seconds
speed

1.1666666666666667

In [26]:
round(speed, 2)

1.17

### Task 7

Create two variables to store how many fruits and vegetables you eat in a day. The value should be numeric for example 3 fruits and 4 vegetables. Now Print "I eat x vegetables and y fruits daily" where x and y presents vegetables and fruits that you eat every day. Use python f string for this.

In [27]:
n_fruits = 2
n_vegatables = 4

print(f"I eat {n_vegatables} vegetables and {n_fruits} fruits daily")

I eat 4 vegetables and 2 fruits daily

### Task 8

Create a variable and store the string â€œThe Himalayas are one of the youngest mountain range on the planet.â€

1. Print â€˜The Himalayasâ€™ using slice operator
1. Print â€œmountain rangeâ€ using negative index
1. Print â€œThe Himalayas on the planetâ€ using slice as well as f-string

In [29]:
string = "The Himalayas are one of the youngest mountain range on the planet."

#printing the himalayas
print(string[0:13])

# printing mountain range
print(string[-29:-15])

# printing The Himalayas on the planet
print(f"{string[0:13]} {string[-14:]}")

The Himalayas
mountain range
The Himalayas on the planet.

### Task 9

You have created a string variable called string= â€There are 9 planets in the solar systemâ€. After some time, you have realized that your sentence is incorrect and there are only 8 planets, now correct your sentence by replacing the incorrect words.

In [ ]:
string = "There are 9 planets in the solar system"

# replacing the 9 with 8
string = string.replace('9', '8')
print(string)

### Task 10

Imagine you are a shop owner tracking sales of three products throughout the day. At the end of the day, you want to calculate the total sales from these products. Product quantity and prices are given below in the next code cell,

Task: Write a program that:

1. Calculates the total sales for each product.
1. Summarizes the total sales for the day.
1. Prints this summary in a formatted manner.

Expected Output:

```
Daily Sales Summary:
- Product 1: Sold 15 units at $20.0 each, Total: $300.0
- Product 2: Sold 10 units at $35.0 each, Total: $350.0
- Product 3: Sold 20 units at $12.0 each, Total: $240.0
Total Sales for the Day: $890.0
```

In [30]:
# Prices and quantities for each product
product1_price = 20.0  # Price per unit for product 1
product1_quantity = 15  # Quantity sold of product 1

product2_price = 35.0  # Price per unit for product 2
product2_quantity = 10  # Quantity sold of product 2

product3_price = 12.0  # Price per unit for product 3
product3_quantity = 20  # Quantity sold of product 3

In [31]:
# Calculating total sales for each product
total_sales_product1 = product1_price * product1_quantity
total_sales_product2 = product2_price * product2_quantity
total_sales_product3 = product3_price * product3_quantity

# Calculating total sales for the day
total_sales_day = total_sales_product1 + total_sales_product2 + total_sales_product3

# Printing the sales summary
print("Daily Sales Summary:")
print(f"- Product 1: Sold {product1_quantity} units at ${product1_price} each, Total: ${total_sales_product1}")
print(f"- Product 2: Sold {product2_quantity} units at ${product2_price} each, Total: ${total_sales_product2}")
print(f"- Product 3: Sold {product3_quantity} units at ${product3_price} each, Total: ${total_sales_product3}")
print(f"Total Sales for the Day: ${total_sales_day}")

Daily Sales Summary:
- Product 1: Sold 15 units at $20.0 each, Total: $300.0
- Product 2: Sold 10 units at $35.0 each, Total: $350.0
- Product 3: Sold 20 units at $12.0 each, Total: $240.0
Total Sales for the Day: $890.0

<h2 align="center" style="color:blue"> Python Course: Summary - Variables, Numbers, Strings</h2>

### Variables
1. Variables are containers that store data in aPython program
2. Rules of naming variables correctly,
   - You can not use reserve words asvariable names (e.g. def, True etc.)
   - Variable names must start with a letteror an underscore _
   - It cannot contain spaces or specialcharacters (@, #, $, %, etc.)
   - Underscore _ is a valid character and canbe present at any place in a variablename13Variables

### Numbers
1. Integer numbers store whole numbers (without decimal part), e.g. 57
2. Float numbers store fractional numbers with whole and decimal part, e.g. 57.232
3. type(variable_name) can be used to detect the data type of a variable
4. / operator is used for division whereas // is used to retrieve integer part of the division
5. % is a modulo operator, it returns the remainder of a division operation
6. x**y will return x raised to the power of y
7. You can do type casting using functions such as float(), int(), str() etc.
8. float(â€œ10.2â€) will convert string value â€œ10.2â€ to a float value 10.2
9. math is a handy module in Python that allows you to run different functions such as sqrt, floor, ceil etc.