<h2 align="center" style="color:blue"> Tuples in Python </h2>

### 1Ô∏è‚É£ What is a Tuple?
- A tuple is an ordered collection of items (like a list).
- Defined using parentheses () instead of square brackets [].
- Tuples can store different data types (int, str, float, etc.).

üëâ Main difference from lists:
- Lists are mutable (can change).
- Tuples are immutable (cannot be changed after creation).

### 2Ô∏è‚É£ Creating Tuples

In [2]:
# Empty tuple
t1 = ()

# Tuple with integers
t2 = (1, 2, 3)

# Tuple with mixed data types
t3 = (10, "Hello", 3.14, True)

# Tuple without parentheses (packing)
t4 = 1, 2, 3, 4

# Single element tuple ‚Üí needs a comma
t5 = (5,)

### 3Ô∏è‚É£ Accessing Tuple Elements

In [3]:
my_tuple = ("cat", "dog", "rabbit", "wolf")

print(my_tuple[0])   # cat
print(my_tuple[-1])  # wolf
print(my_tuple[1:3]) # ('dog', 'rabbit')

cat
wolf
('dog', 'rabbit')

### 4Ô∏è‚É£ Tuple is Immutable

In [5]:
t = (1, 2, 3)
# t[0] = 100   ‚ùå Error: 'tuple' object does not support item assignment
# You cannot add, remove, or change elements in a tuple.

### 5Ô∏è‚É£ Tuple Operations

In [6]:
a = (1, 2, 3)
b = (4, 5)

print(a + b)    # (1, 2, 3, 4, 5)  ‚Üí Concatenation
print(a * 2)    # (1, 2, 3, 1, 2, 3) ‚Üí Repetition
print(len(a))   # 3

(1, 2, 3, 4, 5)
(1, 2, 3, 1, 2, 3)
3

### 6Ô∏è‚É£ Membership Test

In [8]:
t = (10, 20, 30)
print(20 in t)     # True
print(50 not in t) # True

True
True

### 7Ô∏è‚É£ Tuple Methods

In [9]:
# Tuples have only 2 methods (since they are immutable):
t = (1, 2, 2, 3, 4, 2)

print(t.count(2))  # 3 (how many times 2 occurs)
print(t.index(3))  # 3 (first index of 3)

3
3

### 8Ô∏è‚É£ Nested Tuples

In [10]:
# Tuples can contain other tuples:
nested = (1, (2, 3), (4, (5, 6)))
print(nested[1])     # (2, 3)
print(nested[2][1])  # (5, 6)
print(nested[2][1][0]) # 5

(2, 3)
(5, 6)
5

### 9Ô∏è‚É£ Tuple Packing and Unpacking

In [11]:
# Packing
person = ("Raju", 25, "Kolkata")

# Unpacking
name, age, city = person
print(name)  # Raju
print(age)   # 25
print(city)  # Kolkata

Raju
25
Kolkata

#### Calculate PE & PB values using List

In [13]:
def find_pe_and_pb(price, eps, book_value):
    PE = price/eps
    PB = price/book_value
    return(PE, PB)
val = find_pe_and_pb(100, 2, 4)
print("PE value is:", val[0])
print("PB value is:", val[1])

PE value is: 50.0
PB value is: 25.0

#### Calculate PE & PB values using Tuple

In [15]:
def pe_and_pb(price, eps, book_value):
    pe = price/eps
    pb = price/book_value
    return pe, pb
pe_ratio, pb_ratio = pe_and_pb(200, 2, 4)
print("PE value:", pe_ratio)
print("PB value:", pb_ratio)

PE value: 100.0
PB value: 50.0

### üîü Why Use Tuples?
- Faster than lists (performance).
- Useful for fixed collections of items (like coordinates, days of the week, database records).
- Can be used as dictionary keys (lists cannot, because lists are mutable).

### üìù Quick Summary Notes
- Tuples are defined with ().
- Tuples are immutable (cannot modify after creation).
- Support indexing, slicing, concatenation, repetition.
- Have only two methods: .count() and .index().
- Support packing/unpacking.
- Tuples are hashable, so they can be used as dictionary keys.

<h2 align="center" style="color:blue"> Dictionary in Python </h2>

### 1. What is Hashing?
- Hashing is a way to convert data (like a string, number, or tuple) into a fixed-size value (called a hash) using a special function (hash() in Python).
- This hash value helps Python quickly find or compare objects.
- Think of it like giving every object a unique ID number.

In [16]:
print(hash("Raju"))
print(hash(123))
print(hash((1, 2, 3)))   # tuple is hashable

8981619444047429858
123
529344067295497451

### üëâ Note:
- Only immutable objects (like int, float, string, tuple) are hashable.
- Lists, sets, and dicts are not hashable because they are mutable (can change).

### üîπ 2. What is a Dictionary in Python?
- A dictionary is a collection of key-value pairs.
- It is like a real dictionary: you look up a word (key) and get its meaning (value).
- In Python, dictionaries use hashing internally to store and retrieve values quickly.

### 3Ô∏è‚É£ Creating a Dictionary

In [17]:
# Empty dictionary
my_dict = {}

# Dictionary with data
student = {"name": "Raju", "age": 25, "city": "Kolkata"}

print(student["name"])  # Raju
print(student["age"])   # 25

Raju
25

### 4Ô∏è‚É£ Adding & Updating Values

In [18]:
student["age"] = 26     # Update value
student["course"] = "Python"  # Add new key-value pair
print(student)

{'name': 'Raju', 'age': 26, 'city': 'Kolkata', 'course': 'Python'}

### 5Ô∏è‚É£ Removing Values

In [19]:
student.pop("city")    # Remove city
print(student)

del student["age"]    # remove age
print(student)

student.clear()      # removes everythings
print(student)       # {}

{'name': 'Raju', 'age': 26, 'course': 'Python'}
{'name': 'Raju', 'course': 'Python'}
{}

### 6Ô∏è‚É£ Dictionary Methods

In [20]:
person = {"name": "Raju", "age": 25, "city": "kolkata"}

print(person.keys())    # dict_keys(['name', 'age', 'city'])
print(person.values())  # dict_values(['Raju', 25, 'kolkata'])
print(person.items())   # dict_items([('name', 'Raju'), ('age', 25), ('city', 'Kolkata')])

# Iterating
for key, value in person.items():
    print(key, ":", value)

dict_keys(['name', 'age', 'city'])
dict_values(['Raju', 25, 'kolkata'])
dict_items([('name', 'Raju'), ('age', 25), ('city', 'kolkata')])
name : Raju
age : 25
city : kolkata

### 7Ô∏è‚É£ Nested Dictionary

In [21]:
students = {
    "101": {"name": "Raju", "age": 25},
    "102": {"name": "Amit", "age": 22}
}

print(students["101"]["name"])  # Raju

Raju

### 8Ô∏è‚É£ Dictionary & Hash
- Keys in a dictionary must be hashable.
- Example:

In [22]:
# Valid (hashable keys: str, int, tuple)
my_dict = {
    "name": "Raju",
    123: "ID Number",
    (1, 2): "Tuple Key"
}

# Invalid (list is not hashable ‚Üí ‚ùå TypeError)
# my_dict = {[1,2]: "list key"}

### Example

In [25]:
d = {
    'rachel': 8785478900,
    'monica': 4785124789,
    'joey': 4578124785
}
d

{'rachel': 8785478900, 'monica': 4785124789, 'joey': 4578124785}

In [24]:
type(d)

dict

In [27]:
# if exist in the dictionary
d['joey']

4578124785

In [28]:
# if does not exist in the dictionary
d['satya']

KeyError: 'satya'

In [30]:
# to handel this error use .get function, in this case output will be null or specified value if does not exist

d.get('satya')  # output will be null because output is not specified

In [31]:
d.get('satya', -1)  # output will be specified ie. -1

-1

In [36]:
appl_revenues = {
    "USA": {"iPhone": 20, "iPad": 12, "MacBook": 8},
    "China": {"iPhone": 17, "iPad": 9, "MacBook": 6},
    "India": {"iPhone": 9, "iPad": 4, "MacBook": 2}
}
for country, product_data in appl_revenues.items():
    for product, rev in product_data.items():
        print(f"{country} {product} : {rev} million $")

USA iPhone : 20 million $
USA iPad : 12 million $
USA MacBook : 8 million $
China iPhone : 17 million $
China iPad : 9 million $
China MacBook : 6 million $
India iPhone : 9 million $
India iPad : 4 million $
India MacBook : 2 million $